@import "bootstrap-5.0.2/scss/_functions.scss"; 
@import "bootstrap/scss/_variables.scss";


$green: #0F4E20;
$green-500: #05290F;
$green-100: #E1FFE0;

$primary: $green;
$secondary: $green-500;



@import "bootstrap-5.0.2";


